option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:ca-central-1:248072610187:certificate/4c3bae5e-3ae2-4237-9b04-02d1f210e6cc
    InstancePort: 8443
    InstanceProtocol: HTTP
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 8080
    InstanceProtocol: HTTP
  aws:elb:healthcheck:
    HealthyThreshold: '3'
    Interval: '10'
    Target: TCP:8080
    Timeout: '5'
    UnhealthyThreshold: '5'
